.product {
    display: flex;
    align-items: flex-start;

    &__img {
        width: 100px;
        height: 100px;
        flex: 0 0 100px;
        margin-right: 10px;
        @include br($radius: 3px,);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        margin-right: 10px;
    }

    &__name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-decoration: none;
        margin-bottom: 15px;
        overflow: hidden;
    }

    &__bottom {
        display: flex;
    }

    &__count {
        margin-right: 24px;
    }

    &__del {
        cursor: pointer;
        margin-left: auto;
    }
}

.count {
    display: flex;
    align-items: center;

    &__num {
        width: 20px;
        border: none;
        margin: 0 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

    &__min,
    &__plus {
        border: none;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}